<template name="friendInfo">
  <div id="{{_id}}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <div class='click-username'>
            <div class='show-username'><h4>{{username}}</h4></div>
            <div class="edit-username" style="display: none;">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control change-username" aria-describedby="sizing-addon3" value="{{username}}">
              </div>
            </div>
          </div>
        </h3>
      </div>
      <div class="panel-body">
        <div class="status">{{status}}</div> 
      </div>
      <div class="panel-footer">
        <div class="status-at">{{statusAt}}</div>
      </div>
    </div>
  </div>
</template>

