<template name="friendInfo">
  <div id="{{_id}}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <div class='click-username'>
            <div class='show-username'>{{username}}</div>
            <div class="edit-username" style="display: none;"><input type="text" class='change-username' value='{{username}}'></div>
          </div>
        </h3>
      </div>
      <div class="panel-body">
        <div class="status">{{status}}</div> 
        <div class="statusAt">{{statusAt}}</div>
      </div>
    </div>
  </div>
</template>


