<template name='requesterInfo'>
    <div class="row" >
      <div class="col-xs-12">
        <div class="col-xs-8">
          Email: {{email}} <br/>
          Last Status: {{lastStatus}}
        </div>
        <div class="col-xs-4 accept-decline">
          <div class="col-xs-6 fr-accept">
            <i class="fa fa-check fa-2x"></i>
          </div>
          <div class="col-xs-6 fr-decline">
            <i class="fa fa-times fa-2x"></i>
          </div>
        </div>
      </div>
    </div> 
</template>