<template name="home">
  <div class="background">
    <div class="welcome">
      <div class="introduction">
        <h2>Welcome to Is.</h2>
      </div>
      <div class="row explanation">
        <div class="col-xs-4 subinfo-img">
          <i class="fa fa-comments-o fa-4x"></i><br>
          <div class="subinfo">
            Gummi bears jelly sweet roll. Bear claw croissant fruitcake soufflé chocolate bar lemon drops jujubes cake. Muffin muffin halvah.
          </div>
        </div>
        <div class="col-xs-4 subinfo-img">
          <i class="fa fa-users fa-4x"></i>
          <div class="subinfo">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id.
          </div>
        </div>
        <div class="col-xs-4 subinfo-img">
          <i class="fa fa-calendar fa-4x"></i>
          <div class="subinfo">
            Bacon ipsum dolor amet strip steak short loin pancetta shank tri-tip filet mignon andouille, pork beef sausage. 
          </div>
        </div>
      </div>
    </div>
    <img src="background-image.jpg" class="img-responsive" alt="Responsive image">

  </div>
</template>