.display-each-friend{
  padding:0;
  margin-bottom:0.5em;
}

.search-input{
  margin-bottom: 2em;
}

.friend-request-status{
  margin-bottom: 2em;
}

.status-at{
  font-size:0.7em;
  text-align: right;
  padding-right:1em;
}

.panel-footer{
  padding:0;
  opacity:0.6;
}

.panel-default > .panel-heading{
  background-color: rgba(0, 107, 107, 0.2);
}
.panel-heading{
  padding:0.6em;
  padding-left:0.7em;
}

.show-username h4{
  margin:0;
}

.each-friend-panel{
  width: 99%;
  margin: auto;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn{
  height: 20px;
}