.display-each-friend{
  padding:0;
  margin-bottom:0.5em;
}

.search-input{
  margin-bottom: 2em;
}

.friend-request-status{
  margin-bottom: 2em;
}

.status-at{
  font-size:0.7em;
  text-align: right;
  padding-right:1em;
}

.panel-footer{
  padding:0;
}

.show-username h4{
  margin:0;
}