
.friend-request{
  background-color: rgba(146, 173, 64, 0.2);
  border-radius:10px;
  min-height:5px;
}

.accept-decline{
  text-align: center;
  padding-left:0;
  padding-right:0;
}

.fa-check{
  color:  #007A3D;
}

.fa-check:hover{
  color:#33D685;
}

.fa-times:hover{
  color: #808080;
}

.fr-label{
  text-align: center;
  font-weight: 700;
}

.fr-label .fa-user{
  margin-right:2px;
}

.fr-accept{
  padding-right:0;
}

.fr-decline{
  text-align: left;
  padding-left:0;
}


