.nav > li > a{
  padding-left:30px
}

.all-panel{
  background-color:  rgba(245, 245, 245, 0.2);;
  border-radius:10px;
}

.left-panel{
  min-height: 35em;
  height: 100vh;
}

.main-panel{
  /*background-image: linear-gradient(to bottom, #92AD40, #FFFFFF 140%);*/
  min-height: 35em;
  height:100vh;
}

.right-panel{
  /*background-image: linear-gradient(to bottom, #92AD40, #FFFFFF 140%);*/
  min-height: 35em;
  height:100vh;
}

.panel-heading{
  font-size: 0.75em;
}

.status-jumbotron{
  margin-top:2em;
  height: 15em;
}

.status-jumbotron-top{
  height: 12em;
  width:100%;
  overflow: hidden;

}

.status-jumbotron-bottom{
  height:3em;
}

#status-input{
  text-align:center;
  height: 12em;
  width:100%;
  overflow: hidden;
  font-size:2.6em;
}

#status-input p{
  margin:0.5em;
}





.user-info{
  margin-top: 2em;
  height: 21em;
}

.my-status{
  width:100%;
}

.my-status-input{
  padding:0;
}

.my-status-time{
  text-align:right;
  font-size: 0.8em;
  margin-right:0.3em;
  opacity:0.4;
}

.enter-status{
  padding:0;
  border:none;
}

.my-status-wrapper{
  margin-bottom:0;
  width:99.7%;
}

.status-options{
  float:right;
  margin-right:0.4em;
}

.status-options:hover{
  color:#B2B2B2;
}
.fa-youtube-square{
  margin-right:0;
}


.enter-status input{
  height:100%;
  border:none;
}
.status-form{
  width:100%;
}

.others-info{
  padding:0;
}