.all-panel{
  border-radius:10px;
}

.left-panel{
  background-image: linear-gradient(to bottom, #92AD40, #FFFFFF 140%);
  min-height: 35em;
  height: 100vh;
}

.main-panel{
  min-height: 35em;
  height:100vh;
}

.right-panel{
  background-image: linear-gradient(to bottom, #92AD40, #FFFFFF 140%);
  min-height: 35em;
  height:100vh;
}