<!-- <template name="recovery">
  {{#if resetPassword}}
    <form action="action" id="new-password">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <input type="text" class="form-control" id="new-password-passwrd">
          <input type="submit" class="form-control" value="Change Password">
        </div>
      </div>
    </form>
  {{else}}
    <form action="action" id="recovery-form">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <input type="text" class="form-control" id="recovery-email">
          <input type="submit" class="form-control" value="Send Reset Email"></div>
      </div>
    </form>
  {{/if}}
</template> -->