<template name="signupForm">
  <form id="signup-form">
    <h2>Sign Up</h2>
    <label for="signup-username">Username</label>
    <input type="text" id="signup-username" class="form-control" placeholder="Username"> <br />

    <label for="signup-email">Email</label>
    <input type="text" id="signup-email" class="form-control" placeholder="Email"> <br />

    <label for="signup-password">Password</label>
    <input type="text" id="signup-password" class="form-control" placeholder="Password"> <br />

    <button class="btn btn-primary" type='submit'>Sign Up</button>
  </form>
</template>