<template name="loggedOut">
  <div class="jumbotron main-jumbotron">
    <h1>New features on the way!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quibusdam, odio, aperiam alias aliquam atque voluptate quo necessitatibus provident temporibus laborum.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
  <div class="col-xs-1"><p></p></div>
  <div class="col-xs-5">
    <h1>I should really shower!</h1>
    <p>I don't know how long it's been but I have been sitting here and typing away and I can't stop. Ah I want to go eat some good food with good people. I am looking out the window as I type to rest my eyes. I wonder if I made any typos. There is a tenis ball on that roof. I wonder how long it's been there.</p>
  </div>
  <div class="col-xs-5">
      <h1>Who let the dogs out?</h1>
      <p>Or do you flip that fuckin' dollar to a dream? Whether a scholar or a fiend, watch a pawn become a king</p>
      <p><a class="btn btn-primary btn-md jumbotron-button" href="#" role="button">Find out</a></p>
  </div>
  <div class="col-xs-1"><p></p></div>
  <div id="wrap">
    <div id="footer">
      <div class="col-xs-2 footer-info">
        <p></p>
      </div>
      <div class="col-xs-2 footer-info">
        <a href="#">Sushi</a>
      </div>
      <div class="col-xs-2 footer-info">
        <a href="#">Spaghetti</a>
      </div>
      <div class="col-xs-2 footer-info">
        <a href="#">Galbi</a>
      </div>
      <div class="col-xs-2 footer-info">
        <a href="#">Crabs</a>
      </div>
      <div class="col-xs-2 footer-info">
        <p></p>
      </div>
    </div>
  </div>
</template>