<template name="loggedOut">
  <div class="jumbotron main-jumbotron">
    <h1>New features on the way!</h1>
    <p>It am effing hungry. Been sitting here for however many hours doing this ish. Looking out the window because my eyes hurt. I wonder if I am making any typos. Probably not because I'm an awesome typer. Haha jk. Not really. haha There is tennis ball on that roof.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
  <div class="row loggedOutSpace"><p></p></div>

  {{>footer}}
</template>