  <template name="iserPage">
  <div class="user-content">
    <div class="container-fluid friend-request">
      {{>friendRequests}}
    </div>
      {{>errors}}
    <div class="container-fluid all-panel">
      <div class="col-xs-1 left-panel"><p></p></div>
      <div class="col-xs-10 main-panel">
        {{#if currentUser}}
          <div class="status-jumbotron">
            <div class="col-xs-12 status-jumbotron-top">
              <div id="status-input">
                <p>{{profile 'status'}}</p>
              </div>
            </div>
            <div class="col-xs-12 status-jumbotron-bottom">
              <div class = "my-status-time">{{profile 'statusAt'}}</div>
              {{>statusField}}
            </div>
          </div>
        {{/if}}
          
 
          <div class="col-xs-12 col-sm-12 others-info">
            <div class="col-xs-12 col-sm-6 options">
              <div class="col-xs-3"><i class="fa fa-picture-o fa-2x fa-options"></i></div>
              <div class="col-xs-3"><i class="fa fa-arrows fa-2x fa-options"></i></div>
              <div class="col-xs-3"><i class="fa fa-trash fa-2x fa-options"></i></div>
              <div class="col-xs-3">
                <div class="dropdown fa-setting">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <i class="fa fa-cog fa-2x"></i>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">History</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Profile</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Info</a></li>
                  </ul>
                </div>
              </div>
            </div>
        
            <div class="col-xs-12 col-sm-6 search-toggle">
              {{#if showSearchField}}
                <div class="search-input">
                  <div class="col-xs-2 plus-minus">
                    <i class="fa fa-minus-square-o fa-3x"></i>
                  </div>
                  <div class="col-xs-10 search-iser-wrapper">
                    {{>searchIsers}}
                  </div>
                </div>
              {{else}}
                <div class="search-input">
                  <div class="col-xs-2">
                    <i class="fa fa-plus-square-o fa-3x"></i>
                  </div>
                </div>
              {{/if}}
            </div>
          
        
            <div class="col-xs-12 drag-div">
              {{>friendsList}}
            </div>

            <div id="test">
              <form action="uploadFile" enctype="multipart/form-data">
                <strong>upload file:</strong>
                <input id="input" type="file" name="file">
                <input type="submit">
              </form>
            </div>
          </div>


      </div>
      <div class="col-xs-1 right-panel"><p></p></div>
    </div>
    


  </div>
</template>