<template name="searchIsers ">
  <form id="search-form">
    <div class="input-group">
      <input type="text" class="form-control search-field" name="search-field" placeholder="Search by email.">
      <span class="input-group-btn">
        <input type="submit" class="btn btn-default" value="search">
      </span>
    </div>
  </form>
  {{#if showResults}}
    {{#if searchedIser}}
      <div id="search-results">
        {{#each searchedIser}}
          {{>searchDetail}}
        {{/each}}
      </div>
    {{else}}
      <div class="error">
        A user with this email address could not be found.
      </div>
    {{/if}}
  {{/if}}
</template>

  