<template name="searchDetail">
  <div class="col-xs-12">Email: {{email}}</div>
  <div class="col-xs-12">Last status: {{statusAt}}</div>
  <div class="col-xs-12 friend-request-status">
    {{#if requestedAlready}}
        Pending
    {{else}}
     {{#if friendsAlready}}
        Already Friends
      {{else}}
        <form id="add-iser">
          <i class="fa fa-user make-friend-request">
            <input type="submit" value= 'add'>
          </i>
        </form> 
      {{/if}}
    {{/if}}
  </div> 
</template>


<!-- MADE THE SHIFT FROM ISER ID TO ID -->