<template name="footer">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <h6>Copyright &copy; 2015 xoddong</h6>
        </div>
        <div class="col-sm-6">
          <h6>About</h6>
          <p>Cornhole mlkshk butcher small batch, farm-to-table Intelligentsia crucifix shabby chic four loko disrupt Truffaut 3 wolf moon. .</p>
        </div>
        <div class="col-sm-2">
          <h6>Follow me</h6>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-facebook-square"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="col-sm-2">
          <h6><span>by taenaynay</span></h6>
        </div>
      </div>  
    </div>
</footer>
</template>